
html {
  scroll-behavior: smooth;
}

body {
    background-color: #d42013;
    margin: 0px;
}

/* footer style */

footer {
    background-color: #edcaca;
    padding : 50px;
    text-align: center;
}

.copyRight {
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
    color: #000000;
    display: block;
}

footer a {
    text-decoration: none;
    color: #000000;
}

/* end footer style */